<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DishDiscover"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name=".AddIngredientActivity"
            android:exported="false"
            android:label="AddIngredientActivity"
            android:theme="@style/Theme.DishDiscover" />
        <activity
            android:name=".AddStepActivity"
            android:exported="false"
            android:label="AddStepActivity"
            android:theme="@style/Theme.DishDiscover" />
        <activity
            android:name=".AddNutritionActivity"
            android:exported="false"
            android:label="AddNutritionActivity"
            android:theme="@style/Theme.DishDiscover" />
        <activity
            android:name=".AddMealActivity"
            android:exported="false"
            android:label="AddMealActivity"
            android:theme="@style/Theme.DishDiscover" />
        <activity
            android:name=".AddRecipeActivity"
            android:exported="false"
            android:label="AddRecipeActivity"
            android:theme="@style/Theme.DishDiscover" />
        <activity
            android:name=".StepActivity"
            android:exported="false"
            android:label="StepActivity"
            android:parentActivityName=".RecipeActivity"
            android:theme="@style/Theme.DishDiscover" />
        <activity
            android:name=".MealFactsActivty"
            android:exported="false"
            android:label="MealFactsActivity"
            android:parentActivityName=".RecipeActivity"
            android:theme="@style/Theme.DishDiscover" />
        <activity
            android:name=".RecipeActivity"
            android:exported="false"
            android:label="@string/title_activity_recipe"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DishDiscover" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>